{% load render_bundle from webpack_loader %}
{% load jsonfilter %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Django React Starter</title>
    {% render_bundle 'main' 'css' %}
  </head>

  <body id="react-app">
    <script>
        window.props = {{props|json}};
        window.react_mount = document.getElementById('react-app');
    </script>
    {% render_bundle 'main' 'js' %}
  </body>
</html>